-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: kai
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ba_stock_opname_details`
--

DROP TABLE IF EXISTS `ba_stock_opname_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ba_stock_opname_details` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `ba_stock_opname_id` bigint unsigned NOT NULL,
  `nomor_inventaris_aset` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `serial_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jenis_aset_ti` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `merek` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sumber_data` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ba_stock_opname_details_ba_stock_opname_id_foreign` (`ba_stock_opname_id`),
  CONSTRAINT `ba_stock_opname_details_ba_stock_opname_id_foreign` FOREIGN KEY (`ba_stock_opname_id`) REFERENCES `ba_stock_opnames` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ba_stock_opname_details`
--

LOCK TABLES `ba_stock_opname_details` WRITE;
/*!40000 ALTER TABLE `ba_stock_opname_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `ba_stock_opname_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ba_stock_opnames`
--

DROP TABLE IF EXISTS `ba_stock_opnames`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ba_stock_opnames` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `no_ref` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_ref` date DEFAULT NULL,
  `business_area` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_stock_opname` date NOT NULL,
  `unit_kerja` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tempat_kedudukan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `analisa` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `tindak_lanjut` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `pimpinan_unit_kerja` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nipp_pimpinan_unit_kerja` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tempat_ttd` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_ttd` date DEFAULT NULL,
  `pimpinan_it` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nipp_pimpinan_it` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `petugas_it` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nipp_petugas_it` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ba_stock_opnames`
--

LOCK TABLES `ba_stock_opnames` WRITE;
/*!40000 ALTER TABLE `ba_stock_opnames` DISABLE KEYS */;
/*!40000 ALTER TABLE `ba_stock_opnames` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` bigint NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` bigint NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `categories_name_unique` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`),
  KEY `failed_jobs_connection_queue_failed_at_index` (`connection`,`queue`,`failed_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `form_cctv_items`
--

DROP TABLE IF EXISTS `form_cctv_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `form_cctv_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `form_cctv_id` bigint unsigned NOT NULL,
  `no` int DEFAULT NULL,
  `tanggal` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jenis_kegiatan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `paraf` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `form_cctv_items_form_cctv_id_foreign` (`form_cctv_id`),
  CONSTRAINT `form_cctv_items_form_cctv_id_foreign` FOREIGN KEY (`form_cctv_id`) REFERENCES `form_cctvs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `form_cctv_items`
--

LOCK TABLES `form_cctv_items` WRITE;
/*!40000 ALTER TABLE `form_cctv_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `form_cctv_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `form_cctvs`
--

DROP TABLE IF EXISTS `form_cctvs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `form_cctvs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `no_ref` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `business_area` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_cctv` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lokasi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mengetahui_nama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mengetahui_nipp` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mengetahui_jabatan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `kota_tanggal` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `form_cctvs`
--

LOCK TABLES `form_cctvs` WRITE;
/*!40000 ALTER TABLE `form_cctvs` DISABLE KEYS */;
/*!40000 ALTER TABLE `form_cctvs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `form_it_business_requests`
--

DROP TABLE IF EXISTS `form_it_business_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `form_it_business_requests` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `no_ref` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `jabatan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `klasifikasi_permintaan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `catatan_persetujuan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `catatan_kondisi` text COLLATE utf8mb4_unicode_ci,
  `distribusi_salinan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `deskripsi_umum` text COLLATE utf8mb4_unicode_ci,
  `latar_belakang` text COLLATE utf8mb4_unicode_ci,
  `tujuan` text COLLATE utf8mb4_unicode_ci,
  `target_waktu` text COLLATE utf8mb4_unicode_ci,
  `pihak_terkait_internal` text COLLATE utf8mb4_unicode_ci,
  `kategori_layanan` json DEFAULT NULL,
  `layanan_yang_dibutuhkan` text COLLATE utf8mb4_unicode_ci,
  `pemohon_nama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pemohon_nipp` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pemohon_jabatan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `penerima_nama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `penerima_nipp` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `penerima_jabatan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pimpinan_nama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pimpinan_nipp` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pimpinan_jabatan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vp_nama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vp_nipp` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vp_jabatan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `form_it_business_requests`
--

LOCK TABLES `form_it_business_requests` WRITE;
/*!40000 ALTER TABLE `form_it_business_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `form_it_business_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `form_monitoring_isi_rak_dc_drc_items`
--

DROP TABLE IF EXISTS `form_monitoring_isi_rak_dc_drc_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `form_monitoring_isi_rak_dc_drc_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `form_monitoring_isi_rak_dc_drc_id` bigint unsigned NOT NULL,
  `no` int DEFAULT NULL,
  `cable` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pp` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_machine` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_server_name_server` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pic` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nic` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `power_a` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `weight_kg` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `capacity_storage_gb` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `capacity_memory_gb` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ip_address_local` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ip_address_public` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `note` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_rak_items_rak_id` (`form_monitoring_isi_rak_dc_drc_id`),
  CONSTRAINT `fk_rak_items_rak_id` FOREIGN KEY (`form_monitoring_isi_rak_dc_drc_id`) REFERENCES `form_monitoring_isi_rak_dc_drcs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `form_monitoring_isi_rak_dc_drc_items`
--

LOCK TABLES `form_monitoring_isi_rak_dc_drc_items` WRITE;
/*!40000 ALTER TABLE `form_monitoring_isi_rak_dc_drc_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `form_monitoring_isi_rak_dc_drc_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `form_monitoring_isi_rak_dc_drcs`
--

DROP TABLE IF EXISTS `form_monitoring_isi_rak_dc_drcs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `form_monitoring_isi_rak_dc_drcs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `no_ref` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `business_area` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nomor_rak` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_update` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kode_rak` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ukuran_rak` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lokasi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lantai` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alamat` text COLLATE utf8mb4_unicode_ci,
  `mengetahui_nama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mengetahui_nipp` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `form_monitoring_isi_rak_dc_drcs`
--

LOCK TABLES `form_monitoring_isi_rak_dc_drcs` WRITE;
/*!40000 ALTER TABLE `form_monitoring_isi_rak_dc_drcs` DISABLE KEYS */;
INSERT INTO `form_monitoring_isi_rak_dc_drcs` VALUES (1,'001/DC-RAK/2026','2026-07-22','BANDUNG','RAK-01','22 Juli 2026','DC-RK-01','42U','Data Center Gedung D','Lantai 2','Jl. Perintis Kemerdekaan No. 1, Bandung','Budi Santoso','67890','2026-07-22 00:08:41','2026-07-22 00:08:41'),(2,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,'wwwwww','wwww','2026-08-20 07:36:19','2026-08-20 07:36:19');
/*!40000 ALTER TABLE `form_monitoring_isi_rak_dc_drcs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `form_pemeliharaan_items`
--

DROP TABLE IF EXISTS `form_pemeliharaan_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `form_pemeliharaan_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `form_pemeliharaan_id` bigint unsigned NOT NULL,
  `master_perangkat_id` bigint unsigned DEFAULT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci,
  `pekerjaan` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `permasalahan` text COLLATE utf8mb4_unicode_ci,
  `solusi` text COLLATE utf8mb4_unicode_ci,
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `form_pemeliharaan_items_form_pemeliharaan_id_foreign` (`form_pemeliharaan_id`),
  KEY `form_pemeliharaan_items_master_perangkat_id_foreign` (`master_perangkat_id`),
  CONSTRAINT `form_pemeliharaan_items_form_pemeliharaan_id_foreign` FOREIGN KEY (`form_pemeliharaan_id`) REFERENCES `form_pemeliharaans` (`id`) ON DELETE CASCADE,
  CONSTRAINT `form_pemeliharaan_items_master_perangkat_id_foreign` FOREIGN KEY (`master_perangkat_id`) REFERENCES `master_perangkats` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `form_pemeliharaan_items`
--

LOCK TABLES `form_pemeliharaan_items` WRITE;
/*!40000 ALTER TABLE `form_pemeliharaan_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `form_pemeliharaan_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `form_pemeliharaans`
--

DROP TABLE IF EXISTS `form_pemeliharaans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `form_pemeliharaans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `no_ref` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `business_area` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lokasi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jenis_pemeliharaan` enum('Terencana','Tak Terencana') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bulan_pemeliharaan` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `petugas_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `petugas_nipp` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mengetahui_id` bigint unsigned DEFAULT NULL,
  `status` enum('draft','dicetak','selesai') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'draft',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `form_pemeliharaans_mengetahui_id_foreign` (`mengetahui_id`),
  CONSTRAINT `form_pemeliharaans_mengetahui_id_foreign` FOREIGN KEY (`mengetahui_id`) REFERENCES `master_signers` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `form_pemeliharaans`
--

LOCK TABLES `form_pemeliharaans` WRITE;
/*!40000 ALTER TABLE `form_pemeliharaans` DISABLE KEYS */;
/*!40000 ALTER TABLE `form_pemeliharaans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `form_revocation_items`
--

DROP TABLE IF EXISTS `form_revocation_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `form_revocation_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `form_revocation_id` bigint unsigned NOT NULL,
  `no` int DEFAULT NULL,
  `nama_pengguna` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jenis_akun` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `unit_kerja` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alasan` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `form_revocation_items_form_revocation_id_foreign` (`form_revocation_id`),
  CONSTRAINT `form_revocation_items_form_revocation_id_foreign` FOREIGN KEY (`form_revocation_id`) REFERENCES `form_revocations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `form_revocation_items`
--

LOCK TABLES `form_revocation_items` WRITE;
/*!40000 ALTER TABLE `form_revocation_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `form_revocation_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `form_revocations`
--

DROP TABLE IF EXISTS `form_revocations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `form_revocations` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `no_ref` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `business_area` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_permohonan` date DEFAULT NULL,
  `nama_pemohon` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nip_pemohon` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bagian_fungsi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kota_tanggal_pemohon` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status_persetujuan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kota_tanggal_setuju` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mengetahui_nama` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jabatan_mengetahui` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `form_revocations`
--

LOCK TABLES `form_revocations` WRITE;
/*!40000 ALTER TABLE `form_revocations` DISABLE KEYS */;
/*!40000 ALTER TABLE `form_revocations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `form_templates`
--

DROP TABLE IF EXISTS `form_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `form_templates` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kategori` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `route_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_dokumen` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_dokumen` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `versi_dokumen` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `form_templates`
--

LOCK TABLES `form_templates` WRITE;
/*!40000 ALTER TABLE `form_templates` DISABLE KEYS */;
INSERT INTO `form_templates` VALUES (1,'Pemeliharaan CCTV','Umum','form-cctv.index','FR.SM/TI/015.013/10-2020','12 Oktober 2020','002-2020','2026-07-21 23:12:22','2026-07-21 23:12:22'),(2,'Permohonan Pencabutan Hak Akses','Public','form-pencabutan-hak-akses.index','FR.SM/TI/013.004/10-2020','12 Oktober 2020','002-2020','2026-07-21 23:12:22','2026-07-21 23:12:22'),(3,'Monitoring Isi Rak DC / DRC','Terbatas','form-monitoring-isi-rak-dc-drc.index','FR.SM/TI/015.024/10-2020','12 Oktober 2020','002-2020','2026-07-22 00:08:41','2026-07-22 00:08:41');
/*!40000 ALTER TABLE `form_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` smallint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_ba_stocks`
--

DROP TABLE IF EXISTS `master_ba_stocks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_ba_stocks` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nipp` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jabatan` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_ba_stocks`
--

LOCK TABLES `master_ba_stocks` WRITE;
/*!40000 ALTER TABLE `master_ba_stocks` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_ba_stocks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_cctvs`
--

DROP TABLE IF EXISTS `master_cctvs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_cctvs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_cctv` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `lokasi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_cctvs`
--

LOCK TABLES `master_cctvs` WRITE;
/*!40000 ALTER TABLE `master_cctvs` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_cctvs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_pemohons`
--

DROP TABLE IF EXISTS `master_pemohons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_pemohons` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_pemohon` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nip_pemohon` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_pemohons`
--

LOCK TABLES `master_pemohons` WRITE;
/*!40000 ALTER TABLE `master_pemohons` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_pemohons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_perangkats`
--

DROP TABLE IF EXISTS `master_perangkats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_perangkats` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `kode_aset` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenis_perangkat` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `master_perangkats_kode_aset_unique` (`kode_aset`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_perangkats`
--

LOCK TABLES `master_perangkats` WRITE;
/*!40000 ALTER TABLE `master_perangkats` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_perangkats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_signers`
--

DROP TABLE IF EXISTS `master_signers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_signers` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nipp` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jabatan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_signers`
--

LOCK TABLES `master_signers` WRITE;
/*!40000 ALTER TABLE `master_signers` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_signers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
INSERT INTO `sessions` VALUES ('YVlKMp52R2RZyDdjDaIkvmLrnwqvSpYwIBBq588Z',NULL,'127.0.0.1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Code/1.130.0 Chrome/148.0.7778.280 Electron/42.6.0 Safari/537.36','eyJfdG9rZW4iOiJOekZPcnpzVjFXRVloQmhIV1pxQ1VmdnptMnJUVjd5aTd3MWdHY21PIiwiX3ByZXZpb3VzIjp7InVybCI6Imh0dHA6XC9cLzEyNy4wLjAuMTo4MDAwXC9mb3JtLXBlbmNhYnV0YW4taGFrLWFrc2VzIiwicm91dGUiOiJmb3JtLXBlbmNhYnV0YW4taGFrLWFrc2VzLmluZGV4In0sIl9mbGFzaCI6eyJvbGQiOltdLCJuZXciOltdfX0=',1787237140);
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-20 22:22:08
